<h1>This is <%=@list.name%></h1>

<h2>What details do you need?</h2>



<h3>These are the bookmarks: <%@bookmark.each do |info| %></h3>
<p><%= info["comment"] %></p>
<p><%= link_to "delete this bookmark", bookmark_path(info["id"]), method: :delete %></p>
<% end %>

<%= link_to "delete this list", list_path(@list.id), method: :delete %>


