.button-main {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  display: inline-flex;
  justify-content: flex-end;
}

.button-main:hover,
.button-main:active,
.button-main:focus {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#f1f1f1,#f5f5f5);
    background-image: -moz-linear-gradient(top,#f1f1f1,#f5f5f5);
    background-image: -o-linear-gradient(top,#f1f1f1,#f5f5f5);
    background-image: -ms-linear-gradient(top,#f1f1f1,#f5f5f5);
    background-image: linear-gradient(top,#f1f1f1,#f5f5f5);
}

nav {
  background-color: lightpink;
  margin: 0px;
}

.btn{
  margin:5px;
}
